@import '~@fluentui/react/dist/sass/References.scss';

.keshnetGallery {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

@font-face {
  font-family: 'Keshet-12-Regular';
  src: url(require('../assets/Keshet-12-Regular.otf')) format('opentype'); // fallback
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Apply to all text on the page */
:global(body),
:global(*) {
  font-family: 'Keshet-12-Regular', Arial, sans-serif !important;
  color: red !important;
}