.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  direction: rtl;
}

.modalContainer {
  background: #fff;
  border-radius: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 614px;
  height: 340px;
}

.closeButton {
  color: #074565;
  background: linear-gradient(45deg, #c0c9ce, #d5d5d5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  line-height: 50px;
  position: absolute;
  top: -37px;
  right: -36px;
  text-align: center;
  width: 52px;
  height: 52px;
  display: flex;
  font-size: 37px;
  justify-content: center;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: row-reverse; // RTL style
  height: 100%;
  width: 614px;
  background-color: #ebe7e3;
  border-radius: 6px !important;
}

.contentContainer {
  align-items: flex-start;
  display: flex;
  // height: 99%;
  padding-left: 20px;
  padding-right: 15px;
  justify-content: center;
  flex-direction: column;
}

.leftContent {
  flex: 1;
  text-align: right;
  width: 374px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    gap: 16px;
  }

  .title {
    font-size: 22px;
    color: #04446b;
    font-weight: bold;
    // margin-bottom: 8px
    margin-top: -20px;
    display: flex;
    align-items: center;
    width: 244px;
    height: 42px;
  }

  .galleryicon {
    width: 64px;
    height: 42px;
  }

  .name {
    font-size: 45px;
    font-weight: bold;
    color: #022639d1;
    // margin-bottom: 6px;
    padding-right: 16px;
    width: 306px;
    // height: 45px;
    line-height: 45px;
  }

  .department {
    font-size: 20px;
    font-weight: 600;
    color: #022639b5;
    // margin-bottom: 10px;
    padding-right: 16px;
    // width: 121px;
    height: 20px;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    width: 306px;
  }

  .cardTitleDetails {
    border: none;
    width: 322px;
  }

  .message {
    color: #022639b5;
    font-size: 18px;
    font-weight: 600;
    padding-right: 16px;
    width: 306px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    text-overflow: ellipsis;
    white-space: normal;
  }
}

.rightContent {
  flex-shrink: 0;
  overflow: hidden;
  border-bottom-right-radius: 6px;
  width: 240px;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cardCustomBorder {
  display: flex;
  height: 4px;
  width: 374px;
  position: absolute;
  bottom: 0px;

  >div {
    flex: 1;
    height: 100%;
  }
}

.color5 {
  background-color: #ff000b;
}

.color7 {
  background-color: #ff6400;
}

.color6 {
  background-color: #ff9900;
}

.color8 {
  background-color: #ffc200;
}

.color2 {
  background-color: #00bb5b;
}

.color3 {
  background-color: #00cbd7;
}

.color1 {
  background-color: #0077cb;
}

.color4 {
  background-color: #724ac6;
  border-bottom-left-radius: 6px;
}