@import '~@fluentui/react/dist/sass/References.scss';

:root {
  --page-bg: #D0DBE1;
  --muted: #9AA9B2;
  --accent: #064261;
  --dark: #053954;
  --action-radius: 10px;
  --card-radius: 12px;
  --gap: 20px;
  --max-width: 1100px;
}

.birthdayWebPart_wrap {
  max-width: 100%;
  // margin-top: 35px;
}


.birthdayWebPart_greeting {
  font-size: 40px;
  font-weight: normal;
  color: var(--dark);
  font-family: "Alef", sans-serif;
  margin-bottom: 14px;
  text-align: right;
}

.birthdayWebPart_bold-part {
  font-weight: 700;
}

.birthdayWebPart_right_column {
  display: flex;
  width: 465px;
  height: 324px;
}

.birthdayWebPart_center_title {
  text-align: justify;
  font-size: 40px;
  color: #064261;
  margin-bottom: 15px;
  width: 266px;
  height: 40px;
  font-family: 'Keshet-12';
  // margin-right: 15px;
  display: flex;
  gap: 10px;
}


.birthdayWebPart_bold_text {
  font-weight: 800;
}

.birthdayWebPart_accent {
  color: var(--accent);
}

.birthdayWebPart_photo img {
  width: 100%;
  height: 100%;
  /* allow shrinking on smaller laptops */
  object-fit: cover;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px
}


.birthdayWebPart_content {
  width: 100% !important;
  width: 100% !important;
  max-width: 1200px;
}


.birthdayWebPart_birthday_block {
  display: flex;
  min-height: 327px;
  border: none;
  // fo allign with gallery webpart
  justify-content: center;
  margin-right: 12px;
}

.birthdayWebPart_card_left {
  background: white;
  text-align: center;
  border: none;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 253px;
  height: 100%;
}

.birthdayWebPart_name {
  font-size: 29px;
  font-size: 29px;
  font-weight: bold;
  color: #2D6283;
  width: 190px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Keshet-12';
  line-height: 1.0;
  margin-top: 20px;
}

.birthday_Department_Copmany {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
  align-items: center;
}

.birthdayWebPart_department {
  font-size: 18px;
  font-weight: 600;
  color: #2D6283;
  font-family: 'Keshet-12';
  width: 190px;
  height: 18px;

  white-space: nowrap;
  /* force single line */
  overflow: hidden;
  /* hide overflowing text */
  text-overflow: ellipsis;
  /* show ... */
}


.birthdayWebPart_company {
  font-size: 18px;
  font-weight: 600;
  color: #2D6283;
  font-family: 'Keshet-12';
  width: 190px;
  height: 18px;
}

.birthdayWebPart_photo_wrap {
  width: 212px;
  height: 100%;
}

.birthdayWebPart_photo {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.birthdayWebPart_card_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}